<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <!--IMPORTS-->
    <link rel="stylesheet" href="../../import/css/bootstrap.min.css">
    <script src="../../import/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <header class="fixed-top" style="background-color: #007bff;">
        <a href="index.html" class="logo">LOGO</a>
        <div class="company-options">
            <a href="AboutUs.html"><button>About</button></a>
            <a href="Contact.html"><button>Contact</button></a>
        </div>
    </header>
    <!--<p class="container">We are a company in Financial Technology company.</p>-->
    <footer class="fixed-bottom" style="background-color: #007bff;">
        <a href="mailto:#" style="color: black;">Email us</a>
    </footer>
</body>
</html>