<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <!--IMPORTS-->
    <link rel="stylesheet" href="../../import/css/bootstrap.min.css">
    <script src="../../import/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/AboutUs.css">

</head>
<body>
    <header class="fixed-top">
        <a href="index.html" class="logo">LOGO</a>
        <div class="company-options">
            <a href="AboutUs.html"><button>About</button></a>
            <a href="Contact.html"><button>Contact</button></a>
        </div>
    </header>
    <p id="p1">We are a Financial Technology Startup aimed to connect people with other people to ease
    the process of transfering money internationally. <br>
    By using our matching services, you can find another person who you can send/transfer money to. <br>
    Moreover, using our service is completely safe and prevents you from incurring loss by constantly changing monetary
        rates and also it will save the transaction fees that other companies take away from you.</p>
    <footer class="fixed-bottom" style="background-color: #007bff;">
        <a id="EmailUs" href="mailto:#">Email us</a>
    </footer>
</body>
</html>