<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>

    <link rel="stylesheet" href="../../import/css/bootstrap.min.css">
    <script src="../../import/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/Contact.css">
</head>
<body>
    <header class="fixed-top">
        <a href="User.html" class="logo">LOGO</a>
        <div class="company-options">
            <a href="AboutUs.html"><button>About</button></a>
            <a href="Contact.html"><button>Contact</button></a>
        </div>
    </header>
    <p id="p1">You can contact us on through our email...<br>
    More on contact information is coming up!</p>
    <footer class="fixed-bottom">
        <a id="EmailUs" href="mailto:#">Email us</a>
    </footer>
</body>
</html>