<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- IMPORTS -->
    <script src="../../import/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../../import/css/bootstrap.min.css">
    <script src="../../import/js/bootstrap.min.js"></script>
    <script src="../../import/js/firebase-app.js"></script>
    <script src="../../import/js/firebase-auth.js"></script>

    <!-- SRC SCRIPTS -->
    <script src="../js/ui.js"></script>
    <script src="../js/user.js"></script>

    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <header>
        <a href="#" class="logo">LOGO</a>
        <div class="company-options">
            <a href="AboutUs.html"><button>About</button></a>
            <a href="Contact.html"><button>Contact</button></a>
        </div>
    </header>
    <br>
    <div class="container-fluid">
        <button id="firebaseTest" type="button" class="btn btn-secondary">Firebase Login</button><br><br>
        <div id="userHolder" class="container-fluid">
            Not logged in.
        </div>
    </div>
    <footer>
        <a href="mailto:#">Email us</a>
    </footer>
<script>
    data = Object();
    data.disconnected = false;
    data.loggingIn = false;
    data.user = null;

    initUserAuth(data);
</html>