<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>

    <!--TODO: Check these imports-->
    <script src="../../import/js/jquery-3.4.1.min.js"></script>
    <script src="../../import/js/firebase-app.js"></script>
    <script src="../../import/js/firebase-auth.js"></script>
    <script src="../../import/js/firebase-firestore.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/4.0.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.0.0/firebase-ui-auth.css" />
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <!-- OUR CODE -->
    <script src="../js/firebaseConfig.js"></script>
    <script src="../js/transactions.js"></script>
    <script src="../js/Matches.js"></script>

    <!--IMPORTS-->
    <link rel="stylesheet" href="../../import/css/bootstrap.min.css">
    <script src="../../import/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/Matches.css">
</head>
<body>
<header class="fixed-top">
    <a href="User.html" class="logo">LOGO</a>
    <div class="company-options">
        <a href="Messages.html"><button>Messages</button></a>
        <a href="AboutUs.html"><button>About</button></a>
        <a href="Contact.html"><button>Contact</button></a>
    </div>
</header>

<h1>Possible Matches</h1>
<br>
<p id="demoCheck"></p>
<br>
<div id="div1">
    <h2>Your transactions</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Ratings</th>
            <th scope="col">Date of Request</th>
            <th scope="col">Amount</th>
            <!--Should show the flexibilty with the amount only-->
            <!--<th scope="col">Flexibility</th>-->
            <th scope="col">Deadline</th>
            <th scope="col">Match Percent</th>
            <th scope="col">Match?</th>
        </tr>
        </thead>
        <tbody id="matches-table-body">



        </tbody>
    </table>
</div>

<footer class="fixed-bottom">
    <a id="EmailUs" href="mailto:#">Email us</a>
</footer>
</body>
</html>