<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matching the files</title>

    <script src="../../import/js/jquery-3.4.1.min.js"></script>
    <script src="../../import/js/firebase-app.js"></script>
    <script src="../../import/js/firebase-auth.js"></script>
    <script src="../../import/js/firebase-firestore.js"></script>
    <script src="../js/firebaseConfig.js"></script>
    <script src="../js/matching.js"></script>
</head>
<body>
    <div id="display">

    </div>

</body>
</html>